Create database QL_PHONGGYM
GO
USE [QL_PHONGGYM]
GO

CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[MaLoaiSP] [int] NULL,
	[DonGia] [decimal](12, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[GiaKhuyenMai] [decimal](12, 2) NULL,
	[Hang] [nvarchar](100) NULL,
	[XuatXu] [nvarchar](100) NULL,
	[BaoHanh] [nvarchar](50) NULL,
	[MoTaChung] [nvarchar](1000) NULL,
	[MoTaChiTiet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[KhachHang]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[MaLoaiKH] [int] NULL,
	[GioiTinh] [nvarchar](60) NULL,
	[TenDangNhap] [varchar](300) NULL,
	[MatKhau] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyGoiTap]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyGoiTap](
	[MaDKGT] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaGoiTap] [int] NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDKGT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckIn]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckIn](
	[MaCheckIn] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[ThoiGianVao] [datetime] NOT NULL,
	[ThoiGianRa] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCheckIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[MaChiTietGH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayThem] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaDKGT] [int] NULL,
	[MaDKPT] [int] NULL,
	[MaDKLop] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenMon]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenMon](
	[MaCM] [int] IDENTITY(1,1) NOT NULL,
	[TenChuyenMon] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyLop]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyLop](
	[MaDKLop] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaLop] [int] NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDKLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyPT]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyPT](
	[MaDKPT] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaNV] [int] NULL,
	[SoBuoi] [int] NOT NULL,
	[GiaMoiBuoi] [decimal](12, 2) NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDKPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[MaDC] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[TinhThanhPho] [nvarchar](100) NOT NULL,
	[PhuongXa] [nvarchar](100) NOT NULL,
	[DiaChiCuThe] [nvarchar](255) NOT NULL,
	[LaDiaChiMacDinh] [bit] NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[QuanHuyen] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiTap]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiTap](
	[MaGoiTap] [int] IDENTITY(1,1) NOT NULL,
	[TenGoi] [nvarchar](50) NOT NULL,
	[ThoiHan] [int] NOT NULL,
	[Gia] [decimal](12, 2) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGoiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHANH]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHANH](
	[MaHinh] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[IsMain] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayLap] [date] NOT NULL,
	[TongTien] [decimal](12, 2) NULL,
	[ThanhTien] [decimal](12, 2) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GiamGia] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLop]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLop](
	[MaLichLop] [int] IDENTITY(1,1) NOT NULL,
	[MaLop] [int] NOT NULL,
	[MaNV] [int] NULL,
	[NgayHoc] [date] NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTapPT]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTapPT](
	[MaLichPT] [int] IDENTITY(1,1) NOT NULL,
	[MaDKPT] [int] NOT NULL,
	[NgayTap] [date] NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKhachHang]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhachHang](
	[MaLoaiKH] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[MucGiam] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[MaCM] [int] NOT NULL,
	[HocPhi] [decimal](12, 2) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[SoBuoi] [int] NULL,
	[SiSoToiDa] [int] NULL,
	[SiSoHienTai] [int] NULL,
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[MaChucVu] [int] NULL,
	[TenDangNhap] [varchar](300) NULL,
	[MatKhau] [varchar](1000) NULL,
	[GioiTinh] [nvarchar](60) NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienChuyenMon]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienChuyenMon](
	[MaNV] [int] NOT NULL,
	[MaCM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauHoTro]    Script Date: 02/12/2025 6:44:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauHoTro](
	[MaYC] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[LoaiYeuCau] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[MaNV] [int] NULL,
	[PhanHoi] [nvarchar](max) NULL,
	[NgayGui] [datetime] NULL,
	[NgayXuLy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietGioHang] ON 

INSERT [dbo].[ChiTietGioHang] ([MaChiTietGH], [MaKH], [MaSP], [SoLuong], [NgayThem]) VALUES (116, 11, 13, 1, CAST(N'2025-11-30T01:55:14.383' AS DateTime))
INSERT [dbo].[ChiTietGioHang] ([MaChiTietGH], [MaKH], [MaSP], [SoLuong], [NgayThem]) VALUES (117, 11, 61, 1, CAST(N'2025-11-30T13:52:08.007' AS DateTime))
INSERT [dbo].[ChiTietGioHang] ([MaChiTietGH], [MaKH], [MaSP], [SoLuong], [NgayThem]) VALUES (118, 11, 34, 1, CAST(N'2025-11-30T13:52:10.753' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChiTietGioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaDKGT], [MaDKPT], [MaDKLop], [MaSP], [SoLuong], [DonGia]) VALUES (1081, 1091, NULL, NULL, NULL, 1, 1, CAST(1750000.00 AS Decimal(12, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaDKGT], [MaDKPT], [MaDKLop], [MaSP], [SoLuong], [DonGia]) VALUES (1082, 1092, NULL, NULL, NULL, 1, 1, CAST(1750000.00 AS Decimal(12, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaDKGT], [MaDKPT], [MaDKLop], [MaSP], [SoLuong], [DonGia]) VALUES (1083, 1093, NULL, NULL, NULL, 1, 1, CAST(1750000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (1, N'HLV Lớp')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (4, N'Lễ tân')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (2, N'PT')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuyenMon] ON 

INSERT [dbo].[ChuyenMon] ([MaCM], [TenChuyenMon], [MoTa]) VALUES (6, N'Boxing', N'Học các kỹ thuật tấn công và phòng thủ cơ bản của Boxing, bao gồm tư thế đứng, di chuyển, đòn đấm thẳng, đấm móc và đấm xiên. Lớp học không chỉ rèn luyện kỹ năng tự vệ mà còn là một bài tập tim mạch cường độ cao, giúp đốt mỡ, tăng tốc độ, sức mạnh và phản xạ.')
INSERT [dbo].[ChuyenMon] ([MaCM], [TenChuyenMon], [MoTa]) VALUES (7, N'Yoga', N'Một hành trình kết nối Thân - Tâm - Trí. Các lớp Yoga tập trung vào việc đồng bộ hóa hơi thở (pranayama) với các tư thế (asana), giúp tăng cường sự dẻo dai, cải thiện thăng bằng, sức mạnh cơ lõi và giải tỏa căng thẳng. Phù hợp với mọi cấp độ, từ người mới bắt đầu đến nâng cao.')
INSERT [dbo].[ChuyenMon] ([MaCM], [TenChuyenMon], [MoTa]) VALUES (8, N'Aerobics', N'Các bài tập vận động nhịp điệu theo nhạc truyền thống. Lớp học được thiết kế để tăng cường sức bền tim mạch, cải thiện hệ hô hấp và đốt cháy calo một cách vui nhộn. Phù hợp cho những ai yêu thích vận động trên nền nhạc sôi động mà không cần các động tác phức tạp.')
SET IDENTITY_INSERT [dbo].[ChuyenMon] OFF
GO
SET IDENTITY_INSERT [dbo].[DangKyPT] ON 

INSERT [dbo].[DangKyPT] ([MaDKPT], [MaKH], [MaNV], [SoBuoi], [GiaMoiBuoi], [NgayDangKy], [TrangThai], [GhiChu]) VALUES (1, 5, 11, 12, CAST(100000.00 AS Decimal(12, 2)), CAST(N'2025-11-03' AS Date), N'Còn hiệu lực', NULL)
INSERT [dbo].[DangKyPT] ([MaDKPT], [MaKH], [MaNV], [SoBuoi], [GiaMoiBuoi], [NgayDangKy], [TrangThai], [GhiChu]) VALUES (2, 6, 11, 3, CAST(80000.00 AS Decimal(12, 2)), CAST(N'2025-11-03' AS Date), N'Kết thúc', NULL)
INSERT [dbo].[DangKyPT] ([MaDKPT], [MaKH], [MaNV], [SoBuoi], [GiaMoiBuoi], [NgayDangKy], [TrangThai], [GhiChu]) VALUES (9, 2, 11, 8, CAST(50000.00 AS Decimal(12, 2)), CAST(N'2025-11-18' AS Date), N'Còn hiệu lực', N'Tăng cân')
SET IDENTITY_INSERT [dbo].[DangKyPT] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaChi] ON 

INSERT [dbo].[DiaChi] ([MaDC], [MaKH], [TinhThanhPho], [PhuongXa], [DiaChiCuThe], [LaDiaChiMacDinh], [NgayThem], [QuanHuyen]) VALUES (8, 2, N'Khánh Hòa', N'Phước Long', N'326/32/7 Lê Hồng Phong', 0, CAST(N'2025-11-28T17:34:17.963' AS DateTime), N'Nha Trang')
INSERT [dbo].[DiaChi] ([MaDC], [MaKH], [TinhThanhPho], [PhuongXa], [DiaChiCuThe], [LaDiaChiMacDinh], [NgayThem], [QuanHuyen]) VALUES (9, 2, N'TP. Hồ Chí Minh', N'Phường 7', N'123 Nguyễn Trãi', 1, CAST(N'2025-11-28T17:35:39.243' AS DateTime), N'Quận 5')
INSERT [dbo].[DiaChi] ([MaDC], [MaKH], [TinhThanhPho], [PhuongXa], [DiaChiCuThe], [LaDiaChiMacDinh], [NgayThem], [QuanHuyen]) VALUES (10, 16, N'Thái Nguyên', N'Dương Thành', N'111 Trần Nhật Duật', 0, CAST(N'2025-11-29T13:14:30.747' AS DateTime), N'Phú Bình')
SET IDENTITY_INSERT [dbo].[DiaChi] OFF
GO
SET IDENTITY_INSERT [dbo].[GoiTap] ON 

INSERT [dbo].[GoiTap] ([MaGoiTap], [TenGoi], [ThoiHan], [Gia], [MoTa]) VALUES (1, N'1 tháng', 1, CAST(399000.00 AS Decimal(12, 2)), N'Gói thành viên cơ bản của The Gym, không giới hạn các dụng cụ và máy tập.')
INSERT [dbo].[GoiTap] ([MaGoiTap], [TenGoi], [ThoiHan], [Gia], [MoTa]) VALUES (2, N'12 tháng', 12, CAST(10000000.00 AS Decimal(12, 2)), N'Gói VIP: Quyền truy cập khu VIP và toàn bộ tiện ích tại mọi chi nhánh. Miễn phí quầy bar protein và ưu đãi giảm giá hóa đơn.')
INSERT [dbo].[GoiTap] ([MaGoiTap], [TenGoi], [ThoiHan], [Gia], [MoTa]) VALUES (3, N'6 tháng', 6, CAST(2200000.00 AS Decimal(12, 2)), N'Tập luyện tại toàn hệ thống The New Gym trên toàn quốc, miễn phí kiểm tra sức khỏe, kiểm tra sai lệch tư thế, và nhiều hơn thế nữa.')
SET IDENTITY_INSERT [dbo].[GoiTap] OFF
GO
SET IDENTITY_INSERT [dbo].[HINHANH] ON 

INSERT [dbo].[HINHANH] ([MaHinh], [MaSP], [Url], [IsMain]) VALUES (1, 1, N'rule1-whey-choco-1.jpg', 1)
INSERT [dbo].[HINHANH] ([MaHinh], [MaSP], [Url], [IsMain]) VALUES (2, 1, N'rule1-whey-choco-2.jpg', 0)
INSERT [dbo].[HINHANH] ([MaHinh], [MaSP], [Url], [IsMain]) VALUES (3, 1, N'rule1-whey-choco-3.jpg', 0)
GO
SET IDENTITY_INSERT [dbo].[HINHANH] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLap], [TongTien], [ThanhTien], [TrangThai], [GiamGia]) VALUES (1091, 19, CAST(N'2025-12-01' AS Date), CAST(1750000.00 AS Decimal(12, 2)), CAST(1662500.00 AS Decimal(12, 2)), N'Chưa thanh toán', CAST(87500.00 AS Decimal(12, 2)))
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLap], [TongTien], [ThanhTien], [TrangThai], [GiamGia]) VALUES (1092, 19, CAST(N'2025-12-01' AS Date), CAST(1750000.00 AS Decimal(12, 2)), CAST(1662500.00 AS Decimal(12, 2)), N'Chưa thanh toán', CAST(87500.00 AS Decimal(12, 2)))
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLap], [TongTien], [ThanhTien], [TrangThai], [GiamGia]) VALUES (1093, 19, CAST(N'2025-12-01' AS Date), CAST(1750000.00 AS Decimal(12, 2)), CAST(1662500.00 AS Decimal(12, 2)), N'Chưa thanh toán', CAST(87500.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [NgaySinh], [SDT], [Email], [MaLoaiKH], [GioiTinh], [TenDangNhap], [MatKhau]) VALUES (1, N'Nguyễn Văn An', CAST(N'1995-10-20' AS Date), N'0905123456', N'nguyenvanan@email.com', 2, N'Nam', N'annguyen', N'password123')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [NgaySinh], [SDT], [Email], [MaLoaiKH], [GioiTinh], [TenDangNhap], [MatKhau]) VALUES (2, N'Nguyễn Ngà', CAST(N'2005-10-20' AS Date), N'0377827641', N'thangdien0169@gmail.com', 3, N'Nam', N'ADMIN', N'yeuuyen1234')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [NgaySinh], [SDT], [Email], [MaLoaiKH], [GioiTinh], [TenDangNhap], [MatKhau]) VALUES (3, N'Tấn Thành', CAST(N'2005-02-06' AS Date), N'0982872501', N'nguyenngadeptrai2005@gmail.com', 1, N'Nam', N'tanthanh', N'12345sa')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichLop] ON 

INSERT [dbo].[LichLop] ([MaLichLop], [MaLop], [MaNV], [NgayHoc], [GioBatDau], [GioKetThuc], [TrangThai]) VALUES (199, 1, 11, CAST(N'2025-11-03' AS Date), CAST(N'18:00:00' AS Time), CAST(N'19:30:00' AS Time), N'Chưa diễn ra')
INSERT [dbo].[LichLop] ([MaLichLop], [MaLop], [MaNV], [NgayHoc], [GioBatDau], [GioKetThuc], [TrangThai]) VALUES (200, 1, 11, CAST(N'2025-11-07' AS Date), CAST(N'18:00:00' AS Time), CAST(N'19:30:00' AS Time), N'Chưa diễn ra')
INSERT [dbo].[LichLop] ([MaLichLop], [MaLop], [MaNV], [NgayHoc], [GioBatDau], [GioKetThuc], [TrangThai]) VALUES (201, 1, 11, CAST(N'2025-11-10' AS Date), CAST(N'18:00:00' AS Time), CAST(N'19:30:00' AS Time), N'Chưa diễn ra')
GO
SET IDENTITY_INSERT [dbo].[LichLop] OFF
GO
SET IDENTITY_INSERT [dbo].[LichTapPT] ON 

INSERT [dbo].[LichTapPT] ([MaLichPT], [MaDKPT], [NgayTap], [GioBatDau], [GioKetThuc], [TrangThai]) VALUES (1, 1, CAST(N'2025-11-03' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'Chưa tập')
INSERT [dbo].[LichTapPT] ([MaLichPT], [MaDKPT], [NgayTap], [GioBatDau], [GioKetThuc], [TrangThai]) VALUES (2, 1, CAST(N'2025-11-05' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'Chưa tập')
INSERT [dbo].[LichTapPT] ([MaLichPT], [MaDKPT], [NgayTap], [GioBatDau], [GioKetThuc], [TrangThai]) VALUES (3, 1, CAST(N'2025-11-08' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'Chưa tập')
SET IDENTITY_INSERT [dbo].[LichTapPT] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiKhachHang] ON 

INSERT [dbo].[LoaiKhachHang] ([MaLoaiKH], [TenLoai], [MucGiam]) VALUES (1, N'Học sinh, Sinh viên', CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[LoaiKhachHang] ([MaLoaiKH], [TenLoai], [MucGiam]) VALUES (2, N'Gym Member', CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[LoaiKhachHang] ([MaLoaiKH], [TenLoai], [MucGiam]) VALUES (3, N'Gym VIP', CAST(10.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[LoaiKhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP]) VALUES (1, N'Thực phẩm bổ sung')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP]) VALUES (2, N'Quần áo tập luyện')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP]) VALUES (3, N'Phụ kiện tập luyện')
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[LopHoc] ON 

INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaCM], [HocPhi], [NgayBatDau], [NgayKetThuc], [SoBuoi], [SiSoToiDa], [SiSoHienTai], [MaNV]) VALUES (1, N'Boxing Nhập Môn (Tối T2-T6)', 6, CAST(1200000.00 AS Decimal(12, 2)), CAST(N'2025-11-03' AS Date), CAST(N'2025-11-28' AS Date), 9, 20, 0, 11)
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaCM], [HocPhi], [NgayBatDau], [NgayKetThuc], [SoBuoi], [SiSoToiDa], [SiSoHienTai], [MaNV]) VALUES (2, N'Boxing Nâng Cao (Tối T3-T5)', 6, CAST(1500000.00 AS Decimal(12, 2)), CAST(N'2025-11-04' AS Date), CAST(N'2025-11-27' AS Date), 7, 3, 0, 20)
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaCM], [HocPhi], [NgayBatDau], [NgayKetThuc], [SoBuoi], [SiSoToiDa], [SiSoHienTai], [MaNV]) VALUES (3, N'Cardio Boxing (Sáng T7-CN)', 6, CAST(1000000.00 AS Decimal(12, 2)), CAST(N'2025-11-01' AS Date), CAST(N'2025-11-23' AS Date), 8, 25, 0, 11)
SET IDENTITY_INSERT [dbo].[LopHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [MaChucVu], [TenDangNhap], [MatKhau], [GioiTinh], [TenNV], [SDT], [NgaySinh]) VALUES (4, 4, N'lethitan', N'Welcome@2025', N'Nữ', N'Lê Thị Tân', N'0901000001', CAST(N'1998-05-10' AS Date))
INSERT [dbo].[NhanVien] ([MaNV], [MaChucVu], [TenDangNhap], [MatKhau], [GioiTinh], [TenNV], [SDT], [NgaySinh]) VALUES (5, 4, N'nguyenthile', N'Welcome@2025', N'Nữ', N'Nguyễn Thị Lễ', N'0901000002', CAST(N'1999-08-15' AS Date))
INSERT [dbo].[NhanVien] ([MaNV], [MaChucVu], [TenDangNhap], [MatKhau], [GioiTinh], [TenNV], [SDT], [NgaySinh]) VALUES (6, 3, N'phamvanquan', N'Welcome@2025', N'Nam', N'Phạm Văn Quản', N'0902000001', CAST(N'1985-03-20' AS Date))
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[NhanVienChuyenMon] ([MaNV], [MaCM]) VALUES (11, 6)
INSERT [dbo].[NhanVienChuyenMon] ([MaNV], [MaCM]) VALUES (11, 7)
INSERT [dbo].[NhanVienChuyenMon] ([MaNV], [MaCM]) VALUES (12, 7)
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChucVu__A7E2123E097CF0C2]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[ChucVu] ADD UNIQUE NONCLUSTERED 
(
	[TenChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChucVu__A7E2123E670B2CEE]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[ChucVu] ADD UNIQUE NONCLUSTERED 
(
	[TenChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChucVu__A7E2123E9FF8F95C]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[ChucVu] ADD UNIQUE NONCLUSTERED 
(
	[TenChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChucVu__A7E2123EC0E46E43]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[ChucVu] ADD UNIQUE NONCLUSTERED 
(
	[TenChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A9D1053461E73870]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A9D10534F35F0CEE]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__CA1930A5280718C2]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__55F68FC03361977C]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__55F68FC04DB201A0]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__CA1930A53BD3A927]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__CA1930A5B5D956CB]    Script Date: 02/12/2025 6:44:46 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CheckIn] ADD  DEFAULT (getdate()) FOR [ThoiGianVao]
GO
ALTER TABLE [dbo].[ChiTietGioHang] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[ChiTietGioHang] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DangKyGoiTap] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangKyLop] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangKyLop] ADD  DEFAULT (N'Còn hiệu lực') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DangKyPT] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangKyPT] ADD  DEFAULT (N'Còn hiệu lực') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DiaChi] ADD  DEFAULT ((0)) FOR [LaDiaChiMacDinh]
GO
ALTER TABLE [dbo].[DiaChi] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[HINHANH] ADD  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chưa thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[LichLop] ADD  DEFAULT (N'Chưa diễn ra') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichTapPT] ADD  DEFAULT (N'Chưa tập') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LoaiKhachHang] ADD  DEFAULT ((0)) FOR [MucGiam]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT ((30)) FOR [SiSoToiDa]
GO
ALTER TABLE [dbo].[YeuCauHoTro] ADD  DEFAULT (N'Mới gửi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[YeuCauHoTro] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [FK_CheckIn_KH]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTietGioHang_KhachHang]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham_LoggedIn] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_GioHang_SanPham_LoggedIn]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CT_HD]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HD_DKGT] FOREIGN KEY([MaDKGT])
REFERENCES [dbo].[DangKyGoiTap] ([MaDKGT])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CT_HD_DKGT]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HD_DKLop] FOREIGN KEY([MaDKLop])
REFERENCES [dbo].[DangKyLop] ([MaDKLop])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CT_HD_DKLop]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HD_DKPT] FOREIGN KEY([MaDKPT])
REFERENCES [dbo].[DangKyPT] ([MaDKPT])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CT_HD_DKPT]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CT_SP]
GO
ALTER TABLE [dbo].[DangKyGoiTap]  WITH CHECK ADD  CONSTRAINT [FK_DKGT_GT] FOREIGN KEY([MaGoiTap])
REFERENCES [dbo].[GoiTap] ([MaGoiTap])
GO
ALTER TABLE [dbo].[DangKyGoiTap] CHECK CONSTRAINT [FK_DKGT_GT]
GO
ALTER TABLE [dbo].[DangKyGoiTap]  WITH CHECK ADD  CONSTRAINT [FK_DKGT_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DangKyGoiTap] CHECK CONSTRAINT [FK_DKGT_KH]
GO
ALTER TABLE [dbo].[DangKyLop]  WITH CHECK ADD  CONSTRAINT [FK_DKLop_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DangKyLop] CHECK CONSTRAINT [FK_DKLop_KH]
GO
ALTER TABLE [dbo].[DangKyLop]  WITH CHECK ADD  CONSTRAINT [FK_DKLop_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[DangKyLop] CHECK CONSTRAINT [FK_DKLop_Lop]
GO
ALTER TABLE [dbo].[DangKyPT]  WITH CHECK ADD  CONSTRAINT [FK_DKPT_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DangKyPT] CHECK CONSTRAINT [FK_DKPT_KH]
GO
ALTER TABLE [dbo].[DangKyPT]  WITH CHECK ADD  CONSTRAINT [FK_DKPT_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DangKyPT] CHECK CONSTRAINT [FK_DKPT_NV]
GO
ALTER TABLE [dbo].[DiaChi]  WITH CHECK ADD  CONSTRAINT [FK_DiaChi_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiaChi] CHECK CONSTRAINT [FK_DiaChi_KhachHang]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnh_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [FK_HinhAnh_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KH]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_LoaiKH] FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LoaiKhachHang] ([MaLoaiKH])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_LoaiKH]
GO
ALTER TABLE [dbo].[LichLop]  WITH CHECK ADD  CONSTRAINT [FK_LichLop_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[LichLop] CHECK CONSTRAINT [FK_LichLop_Lop]
GO
ALTER TABLE [dbo].[LichLop]  WITH CHECK ADD  CONSTRAINT [FK_LichLop_NhanVien_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LichLop] CHECK CONSTRAINT [FK_LichLop_NhanVien_MaNV]
GO
ALTER TABLE [dbo].[LichTapPT]  WITH CHECK ADD  CONSTRAINT [FK_LichPT_DKPT] FOREIGN KEY([MaDKPT])
REFERENCES [dbo].[DangKyPT] ([MaDKPT])
GO
ALTER TABLE [dbo].[LichTapPT] CHECK CONSTRAINT [FK_LichPT_DKPT]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_Lop_CM] FOREIGN KEY([MaCM])
REFERENCES [dbo].[ChuyenMon] ([MaCM])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_Lop_CM]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_NhanVien_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_NhanVien_MaNV]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[NhanVienChuyenMon]  WITH CHECK ADD  CONSTRAINT [FK_NVCM_CM] FOREIGN KEY([MaCM])
REFERENCES [dbo].[ChuyenMon] ([MaCM])
GO
ALTER TABLE [dbo].[NhanVienChuyenMon] CHECK CONSTRAINT [FK_NVCM_CM]
GO
ALTER TABLE [dbo].[NhanVienChuyenMon]  WITH CHECK ADD  CONSTRAINT [FK_NVCM_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NhanVienChuyenMon] CHECK CONSTRAINT [FK_NVCM_NV]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_LSP] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LoaiSanPham] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SP_LSP]
GO
ALTER TABLE [dbo].[YeuCauHoTro]  WITH CHECK ADD  CONSTRAINT [FK_YeuCau_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YeuCauHoTro] CHECK CONSTRAINT [FK_YeuCau_KhachHang]
GO
ALTER TABLE [dbo].[YeuCauHoTro]  WITH CHECK ADD  CONSTRAINT [FK_YeuCau_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[YeuCauHoTro] CHECK CONSTRAINT [FK_YeuCau_NhanVien]
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAI] CHECK  (([TrangThai]=N'Hết hạn' OR [TrangThai]=N'Hợp lệ'))
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [CK_TRANGTHAI]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_CTHD_LoaiDichVu] CHECK  (((((case when [MaDKGT] IS NOT NULL then (1) else (0) end+case when [MaDKPT] IS NOT NULL then (1) else (0) end)+case when [MaDKLop] IS NOT NULL then (1) else (0) end)+case when [MaSP] IS NOT NULL then (1) else (0) end)=(1)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CK_CTHD_LoaiDichVu]
GO
ALTER TABLE [dbo].[DangKyGoiTap]  WITH CHECK ADD  CONSTRAINT [CK_DKGT_Ngay] CHECK  (([NgayKetThuc]>=[NgayBatDau]))
GO
ALTER TABLE [dbo].[DangKyGoiTap] CHECK CONSTRAINT [CK_DKGT_Ngay]
GO
ALTER TABLE [dbo].[DangKyGoiTap]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAIGT] CHECK  (([TrangThai]=N'Còn hiệu lực' OR [TrangThai]=N'Hết hạn' OR [TrangThai]=N'Đã hủy'))
GO
ALTER TABLE [dbo].[DangKyGoiTap] CHECK CONSTRAINT [CK_TRANGTHAIGT]
GO
ALTER TABLE [dbo].[DangKyLop]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAILOP] CHECK  (([TrangThai]=N'Còn hiệu lực' OR [TrangThai]=N'Hủy' OR [TrangThai]=N'Kết thúc'))
GO
ALTER TABLE [dbo].[DangKyLop] CHECK CONSTRAINT [CK_TRANGTHAILOP]
GO
ALTER TABLE [dbo].[DangKyPT]  WITH CHECK ADD CHECK  (([SoBuoi]>(0)))
GO
ALTER TABLE [dbo].[DangKyPT]  WITH CHECK ADD CHECK  (([SoBuoi]>(0)))
GO
ALTER TABLE [dbo].[DangKyPT]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAIPT] CHECK  (([TrangThai]=N'Chờ duyệt' OR [TrangThai]=N'Kết thúc' OR [TrangThai]=N'Hủy' OR [TrangThai]=N'Còn hiệu lực' OR [TrangThai]=N'Chờ thanh toán'))
GO
ALTER TABLE [dbo].[DangKyPT] CHECK CONSTRAINT [CK_TRANGTHAIPT]
GO
ALTER TABLE [dbo].[DiaChi]  WITH CHECK ADD  CONSTRAINT [CK_DiaChi_MacDinh] CHECK  (([LaDiaChiMacDinh]=(1) OR [LaDiaChiMacDinh]=(0)))
GO
ALTER TABLE [dbo].[DiaChi] CHECK CONSTRAINT [CK_DiaChi_MacDinh]
GO
ALTER TABLE [dbo].[GoiTap]  WITH CHECK ADD CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[GoiTap]  WITH CHECK ADD CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[GoiTap]  WITH CHECK ADD CHECK  (([ThoiHan]>(0)))
GO
ALTER TABLE [dbo].[GoiTap]  WITH CHECK ADD CHECK  (([ThoiHan]>(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAIHD] CHECK  (([TrangThai]=N'Hủy' OR [TrangThai]=N'Đã thanh toán' OR [TrangThai]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_TRANGTHAIHD]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_GIOITINH]
GO
ALTER TABLE [dbo].[LichLop]  WITH CHECK ADD  CONSTRAINT [CK_LichLop_Gio] CHECK  (([GioKetThuc]>[GioBatDau]))
GO
ALTER TABLE [dbo].[LichLop] CHECK CONSTRAINT [CK_LichLop_Gio]
GO
ALTER TABLE [dbo].[LichTapPT]  WITH CHECK ADD  CONSTRAINT [CK_LichPT_Gio] CHECK  (([GioKetThuc]>[GioBatDau]))
GO
ALTER TABLE [dbo].[LichTapPT] CHECK CONSTRAINT [CK_LichPT_Gio]
GO
ALTER TABLE [dbo].[LichTapPT]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAILT] CHECK  (([TrangThai]=N'Đã tập' OR [TrangThai]=N'Chưa tập'))
GO
ALTER TABLE [dbo].[LichTapPT] CHECK CONSTRAINT [CK_TRANGTHAILT]
GO
ALTER TABLE [dbo].[LoaiKhachHang]  WITH CHECK ADD CHECK  (([MucGiam]>=(0) AND [MucGiam]<=(100)))
GO
ALTER TABLE [dbo].[LoaiKhachHang]  WITH CHECK ADD CHECK  (([MucGiam]>=(0) AND [MucGiam]<=(100)))
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD CHECK  (([HocPhi]>(0)))
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD CHECK  (([HocPhi]>(0)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINHNV] CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_GIOITINHNV]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_SDT] CHECK  (([SDT] like '0%' AND len([SDT])=(10) AND NOT [SDT] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NhanVien_SDT]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaKhuyenMai]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaKhuyenMai]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO

/****** Object:  Trigger [dbo].[trg_CapNhatSoLuongTon]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or ALTER   TRIGGER [dbo].[trg_CapNhatSoLuongTon]
ON [dbo].[ChiTietHoaDon]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE S
    SET S.SoLuongTon = S.SoLuongTon - i.SoLuong
    FROM SanPham S
    JOIN inserted i ON S.MaSP = i.MaSP
    WHERE i.MaSP IS NOT NULL; 
END
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ENABLE TRIGGER [trg_CapNhatSoLuongTon]
GO
/****** Object:  Trigger [dbo].[trg_TuDienSiSo]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tự động điền sĩ số trong LopHoc
create or ALTER   trigger [dbo].[trg_TuDienSiSo]
on [dbo].[DangKyLop]
after insert, update, delete
as begin
	update LopHoc
	set SiSoHienTai = (Select Count(*)
						from DangKyLop dk
						where dk.MaLop = LopHoc.MaLop)
	where MaLop in (select MaLop from inserted
					union
					select MaLop from deleted)
end;
GO
ALTER TABLE [dbo].[DangKyLop] ENABLE TRIGGER [trg_TuDienSiSo]
GO
/****** Object:  Trigger [dbo].[trg_OneMainImage]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------- ĐẢM BẢO 1 ẢNH CHÍNH TRONG BẢNG HÌNH ẢNH --------------------------------------------------------

create or ALTER   TRIGGER [dbo].[trg_OneMainImage]
ON [dbo].[HINHANH]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaSP INT;

    SELECT @MaSP = MaSP FROM inserted WHERE IsMain = 1;

    IF (@MaSP IS NOT NULL)
    BEGIN
        UPDATE HINHANH
        SET IsMain = 0
        WHERE MaSP = @MaSP
          AND MaHinh NOT IN (SELECT MaHinh FROM inserted);
    END
END
GO
ALTER TABLE [dbo].[HINHANH] ENABLE TRIGGER [trg_OneMainImage]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatLoaiKhachHangHoaDon]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or ALTER   TRIGGER [dbo].[trg_CapNhatLoaiKhachHangHoaDon]
ON [dbo].[HoaDon]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaLoaiMember INT, @MaLoaiVip INT;
    SELECT @MaLoaiMember = MaLoaiKH FROM LoaiKhachHang WHERE TenLoai = N'Gym Member';
    SELECT @MaLoaiVip = MaLoaiKH FROM LoaiKhachHang WHERE TenLoai = N'Gym VIP';

    UPDATE kh
    SET MaLoaiKH = CASE 
                      WHEN TongChiTieu >= 5000000 THEN @MaLoaiVip
                      WHEN TongChiTieu >= 1000000 THEN @MaLoaiMember
                      ELSE MaLoaiKH 
                   END
    FROM KhachHang kh
    INNER JOIN (
        SELECT MaKH, SUM(ThanhTien) AS TongChiTieu
        FROM HoaDon
        WHERE TrangThai = N'Đã thanh toán'
        GROUP BY MaKH
    ) hd ON kh.MaKH = hd.MaKH
    WHERE kh.MaLoaiKH IS NULL OR kh.MaLoaiKH <> 
          CASE 
            WHEN hd.TongChiTieu >= 5000000 THEN @MaLoaiVip
            WHEN hd.TongChiTieu >= 1000000 THEN @MaLoaiMember
            ELSE kh.MaLoaiKH
          END;
END
GO
ALTER TABLE [dbo].[HoaDon] ENABLE TRIGGER [trg_CapNhatLoaiKhachHangHoaDon]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatLoaiKhachHang]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or ALTER TRIGGER [dbo].[trg_CapNhatLoaiKhachHang]
ON [dbo].[KhachHang]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaKH INT;    
    SELECT @MaKH = MaKH FROM inserted;
    
    DECLARE @MaLoaiHSSV INT, @MaLoaiMember INT, @MaLoaiVip INT, @MaLoaiNull INT;
    SELECT @MaLoaiHSSV = MaLoaiKH FROM LoaiKhachHang WHERE TenLoai = N'Học sinh, Sinh viên';
    SELECT @MaLoaiMember = MaLoaiKH FROM LoaiKhachHang WHERE TenLoai = N'Gym Member';
    SELECT @MaLoaiVip = MaLoaiKH FROM LoaiKhachHang WHERE TenLoai = N'Gym VIP';
    SELECT @MaLoaiNull = MaLoaiKH FROM LoaiKhachHang WHERE TenLoai = N'Gym Null';
    
    DECLARE @NgaySinh DATE, @Tuoi INT, @MaLoaiKHMoi INT;

    SELECT @NgaySinh = NgaySinh FROM KhachHang WHERE MaKH = @MaKH;

    IF @NgaySinh IS NOT NULL
        SET @Tuoi = DATEDIFF(YEAR, @NgaySinh, GETDATE()) -
                    CASE
                        WHEN (MONTH(@NgaySinh) > MONTH(GETDATE())) OR 
                             (MONTH(@NgaySinh) = MONTH(GETDATE()) AND DAY(@NgaySinh) > DAY(GETDATE()))
                        THEN 1 ELSE 0 END;
    ELSE
        SET @Tuoi = NULL;
    
    IF @Tuoi IS NOT NULL AND @Tuoi < 22
        SET @MaLoaiKHMoi = @MaLoaiHSSV;
    ELSE
        SET @MaLoaiKHMoi = @MaLoaiNull;

    UPDATE KhachHang
    SET MaLoaiKH = @MaLoaiKHMoi
    WHERE MaKH = @MaKH AND (MaLoaiKH IS NULL);
END
GO
ALTER TABLE [dbo].[KhachHang] ENABLE TRIGGER [trg_CapNhatLoaiKhachHang]
GO
/****** Object:  Trigger [dbo].[trg_KiemTraTrungLichNhanVien]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kiểm tra trùng lịch
create or ALTER   TRIGGER [dbo].[trg_KiemTraTrungLichNhanVien]
ON [dbo].[LichLop]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted i
        WHERE EXISTS (
            SELECT 1
            FROM LichLop l
            WHERE l.MaNV = i.MaNV
              AND l.NgayHoc = i.NgayHoc
              AND l.MaLichLop <> i.MaLichLop
              AND l.GioBatDau < i.GioKetThuc
              AND l.GioKetThuc > i.GioBatDau
        )
        OR EXISTS (
            SELECT 1
            FROM LichTapPT L
            JOIN DangKyPT D ON L.MaDKPT = D.MaDKPT
            WHERE D.MaNV = i.MaNV
              AND L.NgayTap = i.NgayHoc
              AND L.GioBatDau < i.GioKetThuc
              AND L.GioKetThuc > i.GioBatDau
        )
    )
    BEGIN
        RAISERROR(N'Nhân viên bị trùng lịch!', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO
ALTER TABLE [dbo].[LichLop] ENABLE TRIGGER [trg_KiemTraTrungLichNhanVien]
GO
/****** Object:  Trigger [dbo].[trg_ThemMaNV]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or ALTER   trigger [dbo].[trg_ThemMaNV]
on [dbo].[LichLop]
after insert, update
as
begin    
    UPDATE ll
    SET MaNV = lh.MaNV
    FROM LichLop ll
    JOIN LopHoc lh ON ll.MaLop = lh.MaLop
    JOIN inserted i ON ll.MaLichLop = i.MaLichLop
    WHERE ll.MaNV IS NULL;
end;
GO
ALTER TABLE [dbo].[LichLop] ENABLE TRIGGER [trg_ThemMaNV]
GO
/****** Object:  Trigger [dbo].[trg_TuDienSoBuoi]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tự động điền số buổi học của lớp dựa theo lịch
create or ALTER   trigger [dbo].[trg_TuDienSoBuoi]
on [dbo].[LichLop]
after insert, update, delete
as
begin
	update LopHoc
	set SoBuoi = (select Count(*)
					from LichLop
					where LichLop.MaLop = LopHoc.MaLop)
	where MaLop in (select MaLop from inserted
					union 
					select MaLop from deleted);
end;
GO
ALTER TABLE [dbo].[LichLop] ENABLE TRIGGER [trg_TuDienSoBuoi]
GO
/****** Object:  Trigger [dbo].[trg_CheckLichTapPT_TrungLich]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or ALTER TRIGGER [dbo].[trg_CheckLichTapPT_TrungLich]
ON [dbo].[LichTapPT]
FOR INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM LichTapPT AS LT
        JOIN inserted AS i ON LT.MaDKPT = i.MaDKPT
        WHERE LT.NgayTap = i.NgayTap
          AND (
              (i.GioBatDau BETWEEN LT.GioBatDau AND LT.GioKetThuc)
              OR
              (i.GioKetThuc BETWEEN LT.GioBatDau AND LT.GioKetThuc)
              OR
              (LT.GioBatDau BETWEEN i.GioBatDau AND i.GioKetThuc)
          )
          AND LT.MaLichPT <> i.MaLichPT
    )
    BEGIN
        RAISERROR(N'Lịch tập bị trùng với lịch đã có!', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO
ALTER TABLE [dbo].[LichTapPT] ENABLE TRIGGER [trg_CheckLichTapPT_TrungLich]
GO
/****** Object:  Trigger [dbo].[trg_DefaultTrangThai]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or ALTER   TRIGGER [dbo].[trg_DefaultTrangThai]
ON [dbo].[LichTapPT]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE LichTapPT
    SET TrangThai = N'Chưa tập'
    FROM LichTapPT lh
    INNER JOIN inserted i ON lh.MaLichPT = i.MaLichPT
    WHERE i.TrangThai IS NULL;
END
GO
ALTER TABLE [dbo].[LichTapPT] ENABLE TRIGGER [trg_DefaultTrangThai]
GO
/****** Object:  Trigger [dbo].[trg_XoaTuanTuTheoLoai]    Script Date: 02/12/2025 6:44:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================================================================================
-- ==========================================================. TRIGGER
-- ====================================================================================================================================

-------------------------------------------------------- XÓA TUẦN TỰ THEO LOẠI --------------------------------------------------------

create or ALTER   TRIGGER [dbo].[trg_XoaTuanTuTheoLoai]
ON [dbo].[LoaiSanPham]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaLoaiSP INT;
    DECLARE @MaSP INT;

    DECLARE curLoai CURSOR FOR SELECT MaLoaiSP FROM deleted;
    OPEN curLoai;
    FETCH NEXT FROM curLoai INTO @MaLoaiSP;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        PRINT CONCAT(N'Đang xử lý loại sản phẩm: ', @MaLoaiSP);

        DECLARE curSP CURSOR FOR SELECT MaSP FROM SanPham WHERE MaLoaiSP = @MaLoaiSP;
        OPEN curSP;
        FETCH NEXT FROM curSP INTO @MaSP;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            DELETE FROM HinhAnh WHERE MaSP = @MaSP;
            PRINT CONCAT(N'Đã xóa ảnh sản phẩm ', @MaSP);

            DELETE FROM SanPham WHERE MaSP = @MaSP;
            PRINT CONCAT(N'Đã xóa sản phẩm ', @MaSP);

            FETCH NEXT FROM curSP INTO @MaSP;
        END

        CLOSE curSP; DEALLOCATE curSP;

        -- Sau khi xóa hết sản phẩm con, xóa loại sản phẩm
        DELETE FROM LoaiSanPham WHERE MaLoaiSP = @MaLoaiSP;
        PRINT CONCAT(N'Đã xóa loại sản phẩm ', @MaLoaiSP);

        FETCH NEXT FROM curLoai INTO @MaLoaiSP;
    END

    CLOSE curLoai; DEALLOCATE curLoai;

    PRINT N'Hoàn tất xóa loại, sản phẩm và hình ảnh.';
END
GO
ALTER TABLE [dbo].[LoaiSanPham] ENABLE TRIGGER [trg_XoaTuanTuTheoLoai]
GO
/****** Object:  Trigger [dbo].[trg_CheckNgayBDKT]    Script Date: 02/12/2025 6:44:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--==============================TRIGGER====================================
--Kiểm tra ngày bắt đầu và kết thúc
create or ALTER   trigger [dbo].[trg_CheckNgayBDKT]
on [dbo].[LopHoc]
AFTER insert, update
AS
BEGIN
	IF EXISTS(
		select * from inserted
		where NgayBatDau > NgayKetThuc)
	BEGIN
		raiserror (N'Thời gian bắt đầu không được phép nhỏ hơn kêt thúc', 16, 1);
		rollback transaction;
	END
END;
GO
ALTER TABLE [dbo].[LopHoc] ENABLE TRIGGER [trg_CheckNgayBDKT]
GO
/****** Object:  Trigger [dbo].[trg_KiemTraNhanVienChuyenMon]    Script Date: 02/12/2025 6:44:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kiểm tra chức vụ chuyên môn khi thêm lớp
create or ALTER   trigger [dbo].[trg_KiemTraNhanVienChuyenMon]
on [dbo].[LopHoc]
after insert, update
as
begin
    if exists(
        select * from  inserted i
        where i.MaCM not in (
                             select MaCM from NhanVienChuyenMon cm
                             where i.MaNV = cm.MaNV)
        )
    BEGIN
		raiserror (N'Nhân viên không có chuyên môn lớp này', 16, 1);
		rollback transaction;
	END
end;
GO
ALTER TABLE [dbo].[LopHoc] ENABLE TRIGGER [trg_KiemTraNhanVienChuyenMon]
GO
/****** Object:  Trigger [dbo].[trg_NhanVien_KiemTraTuoi]    Script Date: 02/12/2025 6:44:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 2. TRIGGER: Kiểm tra tuổi nhân viên (Phải >= 18 tuổi)
-- Mục đích: Đảm bảo tính hợp lệ về pháp lý lao động.
-- Kích hoạt khi: THÊM MỚI (Insert) hoặc SỬA (Update) ngày sinh.
-- ============================================================
create or ALTER     TRIGGER [dbo].[trg_NhanVien_KiemTraTuoi]
ON [dbo].[NhanVien]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Chỉ kiểm tra nếu cột NgaySinh có sự thay đổi (hoặc thêm mới)
    IF UPDATE(NgaySinh)
    BEGIN
        -- Kiểm tra xem có dòng nào vi phạm không
        -- Logic: Năm hiện tại - Năm sinh < 18
        IF EXISTS (
            SELECT 1 
            FROM inserted 
            WHERE NgaySinh IS NOT NULL 
              -- DATEDIFF trả về số năm chênh lệch
              AND DATEDIFF(YEAR, NgaySinh, GETDATE()) < 18
        )
        BEGIN
            -- Báo lỗi đỏ rực
            RAISERROR (N'Lỗi nghiệp vụ: Nhân viên chưa đủ 18 tuổi. Không thể lưu vào hệ thống.', 16, 1);
            
            -- Hoàn tác, hủy bỏ lệnh vừa thực hiện
            ROLLBACK TRANSACTION;
        END
    END
END;
GO
ALTER TABLE [dbo].[NhanVien] ENABLE TRIGGER [trg_NhanVien_KiemTraTuoi]
GO
/****** Object:  Trigger [dbo].[trg_NhanVienChuyenMon_KiemTraChucVu]    Script Date: 02/12/2025 6:44:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER: Chặn gán chuyên môn sai đối tượng
-- Mục đích: Đảm bảo chỉ có "PT" và "HLV Lớp" mới được có chuyên môn.
-- Các chức vụ khác (Lễ tân, Quản lý, Tạp vụ...) không cần chuyên môn.
-- ============================================================
create or ALTER   TRIGGER [dbo].[trg_NhanVienChuyenMon_KiemTraChucVu]
ON [dbo].[NhanVienChuyenMon]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem có dòng nào vừa thêm vào mà vi phạm luật không
    IF EXISTS (
        SELECT 1 
        FROM inserted i
        JOIN NhanVien nv ON i.MaNV = nv.MaNV
        JOIN ChucVu cv ON nv.MaChucVu = cv.MaChucVu
        WHERE cv.TenChucVu NOT IN (N'PT', N'HLV Lớp') -- Những chức vụ ĐƯỢC PHÉP
    )
    BEGIN
        -- Nếu phát hiện vi phạm -> Báo lỗi đỏ
        RAISERROR (N'Lỗi nghiệp vụ: Chỉ có nhân viên chức vụ "PT" hoặc "HLV Lớp" mới được phép gán chuyên môn. Các chức vụ khác (Lễ tân, Quản lý...) không cần chuyên môn.', 16, 1);
        
        -- Hủy bỏ lệnh vừa thực hiện
        ROLLBACK TRANSACTION;
    END
END
GO
ALTER TABLE [dbo].[NhanVienChuyenMon] ENABLE TRIGGER [trg_NhanVienChuyenMon_KiemTraChucVu]
GO

create or ALTER PROCEDURE [dbo].[sp_KhachHangDangKy]
    @TenKH NVARCHAR(100),
    @GioiTinh NVARCHAR(60),
    @NgaySinh DATE = NULL,
    @SDT NVARCHAR(15) = NULL,
    @Email NVARCHAR(100) = NULL,

    @TenDangNhap VARCHAR(300),
    @MatKhau VARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION; 

    BEGIN TRY
        IF EXISTS (SELECT 1 FROM KhachHang WHERE TenDangNhap = @TenDangNhap)
        BEGIN
            RAISERROR (N'Tên đăng nhập này đã được sử dụng. Vui lòng chọn tên khác.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF @SDT IS NOT NULL AND EXISTS (SELECT 1 FROM KhachHang WHERE SDT = @SDT)
        BEGIN
            RAISERROR (N'Số điện thoại này đã được đăng ký cho một tài khoản khác.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF @Email IS NOT NULL AND EXISTS (SELECT 1 FROM KhachHang WHERE Email = @Email)
        BEGIN
            RAISERROR (N'Email này đã được đăng ký cho một tài khoản khác.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        INSERT INTO KhachHang (TenKH, NgaySinh, SDT, Email, GioiTinh, TenDangNhap, MatKhau)
        VALUES (@TenKH, @NgaySinh, @SDT, @Email, @GioiTinh, @TenDangNhap, @MatKhau);

        COMMIT TRANSACTION; 
    END TRY

    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION; 
        THROW;
    END CATCH
END;
Go

Create or ALTER PROCEDURE [dbo].[sp_ThemVaoGioHang]
    @MaKH INT,
    @MaSP INT,
    @SoLuong INT = 1
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaChiTietGH_TonTai INT = NULL;
    DECLARE @SoLuongTon INT;
    DECLARE @SoLuongDangCo INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Lấy tồn kho
        SELECT @SoLuongTon = SoLuongTon
        FROM SanPham
        WHERE MaSP = @MaSP;

        IF (@SoLuongTon IS NULL)
        BEGIN
            RAISERROR (N'Sản phẩm không tồn tại!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF (@SoLuongTon <= 0)
        BEGIN
            RAISERROR (N'Sản phẩm đã hết hàng!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF (@SoLuong <= 0)
        BEGIN           
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Kiểm tra đã có trong giỏ chưa
        SELECT @MaChiTietGH_TonTai = MaChiTietGH,
               @SoLuongDangCo = SoLuong
        FROM ChiTietGioHang
        WHERE MaKH = @MaKH AND MaSP = @MaSP;

        DECLARE @TongSoLuong INT = @SoLuong + @SoLuongDangCo;

        IF @MaChiTietGH_TonTai IS NOT NULL
        BEGIN
            UPDATE ChiTietGioHang
            SET SoLuong = @TongSoLuong,
                NgayThem = GETDATE()
            WHERE MaChiTietGH = @MaChiTietGH_TonTai;

            COMMIT TRANSACTION;
            RETURN;
        END

        -- Nếu chưa có -> insert
        INSERT INTO ChiTietGioHang (MaKH, MaSP, SoLuong, NgayThem)
        VALUES (@MaKH, @MaSP, @SoLuong, GETDATE());

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END;
GO

create or ALTER   PROCEDURE [dbo].[sp_KhachHangLogin]
    @TenDangNhap VARCHAR(300),
    @MatKhau VARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        MaKH,
        TenKH,
        SDT,
        Email        
    FROM KhachHang
    WHERE TenDangNhap = @TenDangNhap AND MatKhau = @MatKhau;
END;
GO

create or ALTER   PROCEDURE [dbo].[sp_DangKyLop_KiemTra]
    @MaKH INT,
    @MaLop INT,
    @MaDKLop INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM DangKyLop WHERE MaKH = @MaKH AND MaLop = @MaLop AND TrangThai = N'Còn hiệu lực')
    BEGIN
        RAISERROR (N'Bạn đã đăng ký lớp học này rồi!', 16, 1);
        RETURN;
    END
    
    DECLARE @SiSoHienTai INT;
    DECLARE @SiSoToiDa INT;
    SELECT @SiSoHienTai = COUNT(*)
    FROM DangKyLop WITH (UPDLOCK) 
    WHERE MaLop = @MaLop AND TrangThai = N'Còn hiệu lực';

    SELECT @SiSoToiDa = SiSoToiDa FROM LopHoc WHERE MaLop = @MaLop;
    WAITFOR DELAY '00:00:05'; 

    IF (@SiSoToiDa IS NOT NULL AND @SiSoHienTai >= @SiSoToiDa)
    BEGIN
        RAISERROR (N'Lớp học đã đủ sĩ số, bạn chậm chân rồi!', 16, 1);
        RETURN;
    END

    INSERT INTO DangKyLop (MaKH, MaLop, NgayDangKy, TrangThai)
    VALUES (@MaKH, @MaLop, GETDATE(), N'Còn hiệu lực');

    SET @MaDKLop = SCOPE_IDENTITY();
END
GO

Create or ALTER PROCEDURE [dbo].[sp_ThemLichTapPT]
    @MaDKPT INT,
    @NgayTap DATE,
    @GioBatDau TIME,
    @GioKetThuc TIME,
    @TrangThai NVARCHAR(20)
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED; 
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION; 
    BEGIN TRY

        INSERT INTO LichTapPT (MaDKPT, NgayTap, GioBatDau, GioKetThuc, TrangThai)
        VALUES (@MaDKPT, @NgayTap, @GioBatDau, @GioKetThuc, @TrangThai);

        WAITFOR DELAY '00:00:7'; 

        COMMIT TRANSACTION; 
        PRINT N'Thêm lịch tập PT thành công.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO

Create or ALTER   PROCEDURE [dbo].[sp_ThemLichLop]
    @MaLop INT,
    @MaNV INT,
    @NgayHoc DATE,
    @GioBatDau TIME,
    @GioKetThuc TIME
AS
BEGIN
    SET NOCOUNT ON;

    IF (dbo.f_KiemTraNhanVienCoChucVu(@MaNV, N'HLV Lớp') = 0 AND dbo.f_KiemTraNhanVienCoChucVu(@MaNV, N'PT') = 0)
    BEGIN
        RAISERROR (N'Nhân viên này không phải là HLV Lớp hoặc PT, không thể thêm vào lịch lớp.', 16, 1);
        RETURN;
    END

    INSERT INTO LichLop (MaLop, NgayHoc, GioBatDau, GioKetThuc)
    VALUES (@MaLop, @NgayHoc, @GioBatDau, @GioKetThuc);
    
    PRINT N'Thêm lịch lớp thành công.';
END;
GO
create or ALTER PROCEDURE [dbo].[sp_ThemLopHocVaLich]
    @TenLop NVARCHAR(50),
    @MaCM INT,
    @HocPhi DECIMAL(12,2),
    @NgayBatDau DATE,
    @NgayKetThuc DATE,    
    @SiSoToiDa INT,
    @MaNV INT,
    @GioBatDau TIME(7),
    @GioKetThuc TIME(7)
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        SET NOCOUNT ON;
        DECLARE @MaLop INT;

        INSERT INTO LopHoc (TenLop, MaNV, MaCM, HocPhi, NgayBatDau, NgayKetThuc, SiSoToiDa)
        VALUES (@TenLop, @MaNV, @MaCM, @HocPhi, @NgayBatDau, @NgayKetThuc, @SiSoToiDa);
    
        SET @MaLop = SCOPE_IDENTITY();

        DECLARE @Ngay DATE = @NgayBatDau;

        WHILE @Ngay <= @NgayKetThuc
        BEGIN
            INSERT INTO LichLop(MaLop, MaNV, NgayHoc, GioBatDau, GioKetThuc)
            VALUES (@MaLop, @MaNV, @Ngay, @GioBatDau, @GioKetThuc);

            SET @Ngay = DATEADD(WEEK, 1, @Ngay);
        END

        COMMIT TRANSACTION;
        PRINT N'Thêm lớp học và sinh lịch tự động thành công.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END;
GO

create or ALTER   procedure [dbo].[XoaLichVaLop]
    @MaLop int
As
Begin
    Begin transaction;
        Set nocount on;        
        delete from LichLop where MaLop = @MaLop
        delete from LopHoc where MaLop = @MaLop
    Commit transaction;
End;
GO

create or ALTER   PROCEDURE [dbo].[sp_SuaLopHoc]
    @MaLop INT,
    @TenLop NVARCHAR(50),
    @MaCM INT,
    @HocPhi DECIMAL(12,2),
    @NgayBatDau DATE,
    @NgayKetThuc DATE,
    @SoBuoi INT,
    @SiSoToiDa INT,
    @MaNV INT = NULL,
    @GioBatDau TIME(7) = NULL,
    @GioKetThuc TIME(7) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Kiểm tra tồn tại
    IF NOT EXISTS (SELECT 1 FROM LopHoc WHERE MaLop = @MaLop)
    BEGIN
        RAISERROR (N'Lớp học không tồn tại.', 16, 1); RETURN;
    END

    -- 2. Kiểm tra trùng tên
    IF EXISTS (SELECT 1 FROM LopHoc WHERE TenLop = @TenLop AND MaLop <> @MaLop)
    BEGIN
        RAISERROR (N'Tên lớp học "%s" đã được sử dụng bởi một lớp khác.', 16, 1, @TenLop); RETURN;
    END
    
    -- 3. Cập nhật thông tin Lớp Học
    UPDATE LopHoc
    SET TenLop = @TenLop, MaCM = @MaCM, HocPhi = @HocPhi,
        NgayBatDau = @NgayBatDau, NgayKetThuc = @NgayKetThuc,
        SoBuoi = @SoBuoi, SiSoToiDa = @SiSoToiDa, MaNV = @MaNV
    WHERE MaLop = @MaLop;

    -- 4. CẬP NHẬT LỊCH LỚP (QUAN TRỌNG)
    -- Nếu có thay đổi Giờ hoặc Giáo viên, ta cập nhật lại LichLop
    -- (Chỉ cập nhật những lịch chưa diễn ra để giữ lịch sử)
    
    DECLARE @GioBD_Update TIME(7);
    DECLARE @GioKT_Update TIME(7);

    -- Nếu người dùng không nhập giờ mới (NULL hoặc 00:00), giữ nguyên giờ cũ trong LichLop
    -- (Logic này sẽ được xử lý kỹ hơn ở C# để truyền NULL xuống)
    IF @GioBatDau IS NOT NULL AND @GioKetThuc IS NOT NULL
    BEGIN
        IF @GioKetThuc <= @GioBatDau
        BEGIN
            RAISERROR (N'Giờ kết thúc phải lớn hơn giờ bắt đầu.', 16, 1); RETURN;
        END
        SET @GioBD_Update = @GioBatDau;
        SET @GioKT_Update = @GioKetThuc;
    END

    -- Cập nhật Lịch: Đổi Giáo viên và Đổi Giờ (nếu có)
    UPDATE LichLop
    SET 
        MaNV = ISNULL(@MaNV, MaNV), -- Nếu MaNV mới khác NULL thì cập nhật
        GioBatDau = ISNULL(@GioBD_Update, GioBatDau), -- Nếu có giờ mới thì cập nhật
        GioKetThuc = ISNULL(@GioKT_Update, GioKetThuc)
    WHERE MaLop = @MaLop 
      AND NgayHoc >= CAST(GETDATE() AS DATE); -- Chỉ cập nhật lịch tương lai

    PRINT N'Cập nhật lớp học và đồng bộ lịch thành công.';
END;
GO

create or ALTER   PROCEDURE [dbo].[sp_ThemNhanVien]
    @MaChucVu INT,
    @TenDangNhap VARCHAR(300),
    @MatKhau VARCHAR(1000),
    @GioiTinh NVARCHAR(60),
    @TenNV NVARCHAR(100),
    @SDT NVARCHAR(15) = NULL,
    @NgaySinh DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM NhanVien WHERE TenDangNhap = @TenDangNhap)
    BEGIN
        RAISERROR (N'Tên đăng nhập đã tồn tại.', 16, 1);
        RETURN;
    END
    INSERT INTO NhanVien (MaChucVu, TenDangNhap, MatKhau, GioiTinh, TenNV, SDT, NgaySinh)
    VALUES (@MaChucVu, @TenDangNhap, @MatKhau, @GioiTinh, @TenNV, @SDT, @NgaySinh);
    PRINT N'Thêm nhân viên thành công.';
END;
Go

create or ALTER   PROCEDURE [dbo].[sp_ThemChucVu]
    @TenChucVu NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM ChucVu WHERE TenChucVu = @TenChucVu)
    BEGIN
        RAISERROR (N'Tên chức vụ đã tồn tại.', 16, 1);
        RETURN;
    END
    INSERT INTO ChucVu (TenChucVu) VALUES (@TenChucVu);
    PRINT N'Thêm chức vụ thành công.';
END;
GO

create or ALTER PROCEDURE [dbo].[sp_ThemChuyenMon]
    @TenChuyenMon NVARCHAR(50),
    @MoTa NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra trùng tên
    IF EXISTS (SELECT 1 FROM ChuyenMon WHERE TenChuyenMon = @TenChuyenMon)
    BEGIN
        RAISERROR (N'Tên chuyên môn này đã tồn tại. Vui lòng chọn tên khác.', 16, 1);
        RETURN;
    END

    INSERT INTO ChuyenMon (TenChuyenMon, MoTa) 
    VALUES (@TenChuyenMon, @MoTa);
    
    PRINT N'Thêm chuyên môn thành công.';
END;
GO

create or ALTER PROCEDURE [dbo].[sp_XoaNhanVien]
    @MaNV INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. KIỂM TRA AN TOÀN (Ràng buộc Kế toán - Giữ nguyên)
    IF EXISTS (
        SELECT 1 
        FROM ChiTietHoaDon CT 
        JOIN DangKyPT DK ON CT.MaDKPT = DK.MaDKPT 
        WHERE DK.MaNV = @MaNV
    )
    BEGIN
        RAISERROR (N'Nhân viên này đã có giao dịch tài chính (Bán gói PT trong Hóa đơn). Không thể xóa vì lý do kế toán. Hãy đổi mật khẩu hoặc hủy kích hoạt tài khoản.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        -- 2. Xóa Chuyên Môn (Bảng NhanVienChuyenMon)
        DELETE FROM NhanVienChuyenMon WHERE MaNV = @MaNV;

        -- 3. Xóa Lịch Lớp (Bảng LichLop) - Xóa các buổi dạy lẻ tẻ
        DELETE FROM LichLop WHERE MaNV = @MaNV;

        -- 4. Xử lý Gói Đăng Ký PT
        DELETE FROM LichTapPT 
        WHERE MaDKPT IN (SELECT MaDKPT FROM DangKyPT WHERE MaNV = @MaNV);

        DELETE FROM DangKyPT WHERE MaNV = @MaNV;

        -- ============================================================
        -- == 5. MỚI THÊM: GỠ NHÂN VIÊN KHỎI LỚP HỌC (QUAN TRỌNG) ==
        -- ============================================================
        -- Cập nhật các lớp mà nhân viên này đang làm chủ nhiệm thành NULL
        UPDATE LopHoc 
        SET MaNV = NULL 
        WHERE MaNV = @MaNV;

        -- 6. Cuối cùng: Xóa Nhân Viên
        DELETE FROM NhanVien WHERE MaNV = @MaNV;

        COMMIT TRANSACTION;
        PRINT N'Đã xóa nhân viên và cập nhật dữ liệu liên quan thành công.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END;
Go

create or ALTER PROCEDURE [dbo].[sp_XoaChucVu]
    @MaChucVu INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. KIỂM TRA: Không cho xóa các chức vụ quan trọng của hệ thống
    -- (Ví dụ: Quản lý, PT, HLV Lớp... vì logic code C# đang dựa vào tên của chúng)
    DECLARE @TenChucVu NVARCHAR(50);
    SELECT @TenChucVu = TenChucVu FROM ChucVu WHERE MaChucVu = @MaChucVu;

    IF @TenChucVu IN (N'Quản lý', N'PT', N'HLV Lớp')
    BEGIN
        RAISERROR (N'Đây là chức vụ hệ thống quan trọng (đang được dùng để phân quyền Logic). Bạn không được phép xóa.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        -- 2. GỠ CHỨC VỤ KHỎI NHÂN VIÊN (Thay vì xóa nhân viên)
        -- Cập nhật tất cả nhân viên đang giữ chức vụ này thành NULL (Không có chức vụ)
        UPDATE NhanVien
        SET MaChucVu = NULL
        WHERE MaChucVu = @MaChucVu;

        -- 3. XÓA CHỨC VỤ
        DELETE FROM ChucVu WHERE MaChucVu = @MaChucVu;

        COMMIT TRANSACTION;
        PRINT N'Đã xóa chức vụ thành công. Các nhân viên giữ chức vụ này đã được cập nhật thành (Chưa có chức vụ).';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END;
go

create or ALTER PROCEDURE [dbo].[sp_XoaChuyenMon]
    @MaCM INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Kiểm tra ràng buộc: Nếu đã có Lớp Học thuộc chuyên môn này -> CẤM XÓA
    -- (Vì Lớp học dính đến tiền nong, lịch sử...)
    IF EXISTS (SELECT 1 FROM LopHoc WHERE MaCM = @MaCM)
    BEGIN
        RAISERROR (N'Chuyên môn này đang được sử dụng trong các Lớp Học. Không thể xóa. Hãy sửa tên hoặc ngừng sử dụng thay vì xóa.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        -- 2. Dọn dẹp bảng NhanVienChuyenMon (Gỡ môn này khỏi tất cả nhân viên)
        DELETE FROM NhanVienChuyenMon WHERE MaCM = @MaCM;

        -- 3. Xóa Chuyên Môn
        DELETE FROM ChuyenMon WHERE MaCM = @MaCM;

        COMMIT TRANSACTION;
        PRINT N'Đã xóa chuyên môn thành công.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END;
Go

create or ALTER   PROCEDURE [dbo].[sp_XoaNhanVienChuyenMon]
    @MaNV INT,
    @MaCM INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. KIỂM TRA LỊCH LỚP (Đang dạy hoặc sắp dạy)
    -- Nếu nhân viên này có lịch dạy (LichLop) thuộc lớp có chuyên môn này
    -- VÀ lịch đó chưa kết thúc (Ngày học >= Hôm nay) -> CẤM GỠ
    IF EXISTS (
        SELECT 1 
        FROM LichLop LL
        JOIN LopHoc LH ON LL.MaLop = LH.MaLop
        WHERE LL.MaNV = @MaNV 
          AND LH.MaCM = @MaCM
          AND LL.NgayHoc >= CAST(GETDATE() AS DATE) -- Chỉ chặn lịch tương lai/hôm nay
    )
    BEGIN
        DECLARE @TenMon NVARCHAR(50);
        SELECT @TenMon = TenChuyenMon FROM ChuyenMon WHERE MaCM = @MaCM;
        
        RAISERROR (N'Nhân viên này đang có lịch dạy lớp thuộc chuyên môn "%s" trong tương lai. Không thể gỡ bỏ chuyên môn này.', 16, 1, @TenMon);
        RETURN;
    END

    -- 2. KIỂM TRA CHỦ NHIỆM LỚP (Mới thêm)
    -- Nếu nhân viên này đang là GV Chủ Nhiệm (MaNV trong bảng LopHoc) 
    -- của một lớp thuộc chuyên môn này và lớp đó chưa kết thúc -> CẤM GỠ
    IF EXISTS (
        SELECT 1
        FROM LopHoc
        WHERE MaNV = @MaNV
          AND MaCM = @MaCM
          AND NgayKetThuc >= CAST(GETDATE() AS DATE)
    )
    BEGIN
        DECLARE @TenMon2 NVARCHAR(50);
        SELECT @TenMon2 = TenChuyenMon FROM ChuyenMon WHERE MaCM = @MaCM;

        RAISERROR (N'Nhân viên này đang là Giáo viên chủ nhiệm của lớp thuộc chuyên môn "%s". Vui lòng đổi giáo viên chủ nhiệm trước khi gỡ chuyên môn.', 16, 1, @TenMon2);
        RETURN;
    END

    -- 3. Nếu thỏa mãn hết -> Xóa
    DELETE FROM NhanVienChuyenMon 
    WHERE MaNV = @MaNV AND MaCM = @MaCM;

    PRINT N'Đã gỡ bỏ chuyên môn khỏi nhân viên thành công.';
END;
Go

create or ALTER     PROCEDURE [dbo].[sp_SuaChuyenMon]
    @MaCM INT,
    @TenChuyenMon NVARCHAR(50),
    @MoTa NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra tồn tại
    IF NOT EXISTS (SELECT 1 FROM ChuyenMon WHERE MaCM = @MaCM)
    BEGIN
        RAISERROR (N'Chuyên môn không tồn tại.', 16, 1);
        RETURN;
    END

    -- Kiểm tra trùng tên (nhưng bỏ qua chính bản ghi đang sửa)
    IF EXISTS (SELECT 1 FROM ChuyenMon WHERE TenChuyenMon = @TenChuyenMon AND MaCM <> @MaCM)
    BEGIN
        RAISERROR (N'Tên chuyên môn này đã được sử dụng bởi mục khác.', 16, 1);
        RETURN;
    END

    UPDATE ChuyenMon 
    SET TenChuyenMon = @TenChuyenMon, 
        MoTa = @MoTa
    WHERE MaCM = @MaCM;

    PRINT N'Cập nhật chuyên môn thành công.';
END;
Go

create or ALTER PROCEDURE [dbo].[sp_GanChuyenMonChoNhanVien]
    @MaNV INT,
    @MaCM INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- (BỔ SUNG) Kiểm tra logic: Chỉ gán chuyên môn cho PT hoặc HLV Lớp
    IF (dbo.f_KiemTraNhanVienCoChucVu(@MaNV, N'PT') = 0 AND dbo.f_KiemTraNhanVienCoChucVu(@MaNV, N'HLV Lớp') = 0)
    BEGIN
        RAISERROR (N'Nhân viên này không phải là PT hoặc HLV Lớp, không thể gán chuyên môn.', 16, 1);
        RETURN;
    END
    
    IF EXISTS (SELECT 1 FROM NhanVienChuyenMon WHERE MaNV = @MaNV AND MaCM = @MaCM)
    BEGIN
        RAISERROR (N'Nhân viên này đã có chuyên môn này rồi.', 16, 1);
        RETURN;
    END

    INSERT INTO NhanVienChuyenMon (MaNV, MaCM) VALUES (@MaNV, @MaCM);
    PRINT N'Gán chuyên môn cho nhân viên thành công.';
END;
Go

create or ALTER   PROCEDURE [dbo].[sp_ThemSanPham]
    @TenSP NVARCHAR(100),
    @MaLoaiSP INT,
    @DonGia DECIMAL(12,2),
    @SoLuongTon INT,
    -- Các tham số mới (để giá trị mặc định là NULL)
    @GiaKhuyenMai DECIMAL(12,2) = NULL,
    @Hang NVARCHAR(100) = NULL,
    @XuatXu NVARCHAR(100) = NULL,
    @BaoHanh NVARCHAR(50) = NULL,
    @MoTaChung NVARCHAR(1000) = NULL,
    @MoTaChiTiet NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- (Tùy chọn) Kiểm tra logic: Giá khuyến mãi không được lớn hơn giá gốc
    IF @GiaKhuyenMai IS NOT NULL AND @GiaKhuyenMai > @DonGia
    BEGIN
        RAISERROR(N'Giá khuyến mãi không được lớn hơn giá gốc.', 16, 1);
        RETURN;
    END

    INSERT INTO SanPham (
        TenSP, MaLoaiSP, DonGia, SoLuongTon, 
        GiaKhuyenMai, Hang, XuatXu, BaoHanh, MoTaChung, MoTaChiTiet
    )
    VALUES (
        @TenSP, @MaLoaiSP, @DonGia, @SoLuongTon,
        @GiaKhuyenMai, @Hang, @XuatXu, @BaoHanh, @MoTaChung, @MoTaChiTiet
    );
    
    PRINT N'Thêm sản phẩm mới thành công.';
    -- Trả về MaSP vừa được tạo để ứng dụng có thể dùng
    SELECT SCOPE_IDENTITY() AS MaSPMoi; 
END;
Go

create or ALTER   PROCEDURE [dbo].[sp_ThemLoaiSanPham]
    @TenLoaiSP NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM LoaiSanPham WHERE TenLoaiSP = @TenLoaiSP)
    BEGIN
        RAISERROR(N'Tên loại sản phẩm đã tồn tại!', 16, 1);
        RETURN;
    END

    INSERT INTO LoaiSanPham (TenLoaiSP)
    VALUES (@TenLoaiSP);

    PRINT N'Thêm loại sản phẩm thành công.';
    SELECT SCOPE_IDENTITY() AS MaLoaiMoi; -- Trả về mã mới
END;
Go

Create or ALTER   PROCEDURE [dbo].[sp_XoaSanPham]
    @MaSP INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM SanPham
    WHERE MaSP = @MaSP;

    -- Trả về số dòng bị ảnh hưởng để Form biết có xóa thành công hay không
    RETURN @@ROWCOUNT;
END;
Go

--------------------------------------------------------
-- sp_XoaLoaiSanPham
--------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[sp_XoaLoaiSanPham]
    @MaLoaiSP INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @KetQua INT = 0;

    -- Kiểm tra loại có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM LoaiSanPham WHERE MaLoaiSP = @MaLoaiSP)
    BEGIN
        SET @KetQua = -1; -- không tồn tại
        SELECT @KetQua AS KetQua;
        RETURN;
    END

    -- Kiểm tra có sản phẩm thuộc loại này không
    IF EXISTS (SELECT 1 FROM SanPham WHERE MaLoaiSP = @MaLoaiSP)
    BEGIN
        SET @KetQua = -2; -- còn sản phẩm con
        SELECT @KetQua AS KetQua;
        RETURN;
    END

    -- Thực hiện xóa
    DELETE FROM LoaiSanPham WHERE MaLoaiSP = @MaLoaiSP;

    SET @KetQua = @@ROWCOUNT;
    SELECT @KetQua AS KetQua;
END
GO

--------------------------------------------------------
-- sp_SuaSanPham
--------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[sp_SuaSanPham]
    @MaSP INT,
    @TenSP NVARCHAR(100),
    @MaLoaiSP INT,
    @DonGia DECIMAL(12, 2),
    @SoLuongTon INT,
    @GiaKhuyenMai DECIMAL(12, 2) = NULL,
    @Hang NVARCHAR(100) = NULL,
    @XuatXu NVARCHAR(100) = NULL,
    @BaoHanh NVARCHAR(50) = NULL,
    @MoTaChung NVARCHAR(1000) = NULL,
    @MoTaChiTiet NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM SanPham WHERE MaSP = @MaSP)
    BEGIN
        RAISERROR(N'Sản phẩm không tồn tại.', 16, 1);
        RETURN;
    END

    UPDATE SanPham
    SET 
        TenSP = @TenSP,
        MaLoaiSP = @MaLoaiSP,
        DonGia = @DonGia,
        SoLuongTon = @SoLuongTon,
        GiaKhuyenMai = @GiaKhuyenMai,
        Hang = @Hang,
        XuatXu = @XuatXu,
        BaoHanh = @BaoHanh,
        MoTaChung = @MoTaChung,
        MoTaChiTiet = @MoTaChiTiet
    WHERE MaSP = @MaSP;

    SELECT @@ROWCOUNT AS SoDongCapNhat;
END
GO

--------------------------------------------------------
-- sp_SuaLoaiSanPham
--------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[sp_SuaLoaiSanPham]
    @MaLoaiSP INT,
    @TenLoaiSP NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @KetQua INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Không tồn tại
        IF NOT EXISTS (SELECT 1 FROM LoaiSanPham WHERE MaLoaiSP = @MaLoaiSP)
        BEGIN
            SET @KetQua = -1;
        END
        -- Tên mới trùng tên cũ
        ELSE IF EXISTS (
            SELECT 1 FROM LoaiSanPham 
            WHERE MaLoaiSP = @MaLoaiSP AND TenLoaiSP = @TenLoaiSP
        )
        BEGIN
            SET @KetQua = 0;
        END
        ELSE
        BEGIN
            UPDATE LoaiSanPham
            SET TenLoaiSP = @TenLoaiSP
            WHERE MaLoaiSP = @MaLoaiSP;

            SET @KetQua = @@ROWCOUNT;
        END

        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @KetQua = -99;
    END CATCH;

    SELECT @KetQua AS KetQua;
END
GO

--------------------------------------------------------
-- sp_HinhAnh_Them
--------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[sp_HinhAnh_Them]
    @MaSP   INT,
    @Url    NVARCHAR(500),
    @IsMain BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO HINHANH (MaSP, Url, IsMain)
    VALUES (@MaSP, @Url, @IsMain);

    SELECT SCOPE_IDENTITY() AS MaHinhMoi;
END
GO

--------------------------------------------------------
-- sp_HinhAnh_Xoa
--------------------------------------------------------
CREATE OR ALTER PROC [dbo].[sp_HinhAnh_Xoa]
    @MaHinh INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM HINHANH
    WHERE MaHinh = @MaHinh;

    SELECT @MaHinh AS MaHinhDaXoa;
END
GO

--------------------------------------------------------
-- sp_HinhAnh_Sua
--------------------------------------------------------
CREATE OR ALTER PROCEDURE [dbo].[sp_HinhAnh_Sua]
    @MaHinh INT,
    @MaSP INT,
    @Url NVARCHAR(500),
    @IsMain BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE HINHANH
    SET MaSP = @MaSP,
        Url = @Url,
        IsMain = @IsMain
    WHERE MaHinh = @MaHinh;

    SELECT @MaHinh AS UpdatedID;
END
GO

CREATE OR ALTER FUNCTION fn_TimKiemSanPham
(
    @MaSP INT = NULL,
    @TenSP NVARCHAR(100) = NULL
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        MaSP,
        TenSP,
        MaLoaiSP,
        DonGia,
        SoLuongTon,
        GiaKhuyenMai,
        Hang,
        XuatXu,
        BaoHanh,
        MoTaChung,
        MoTaChiTiet
    FROM SanPham
    WHERE
        (@MaSP IS NULL OR MaSP = @MaSP)
        AND (@TenSP IS NULL OR TenSP LIKE N'%' + @TenSP + N'%')
);
GO

Create or alter procedure ThongKeLopTheoNV
	@MaNV int
as
begin
	Select lh.MaLop, TenLop, NgayBatDau, NgayKetThuc, SoBuoi, SiSoToiDa, HocPhi, MaCM
	From LopHoc lh, LichLop ll
	Where ll.MaNV = @MaNV and lh.MaLop = ll.MaLop
	Group by lh.MaLop, TenLop, NgayBatDau, NgayKetThuc, SoBuoi, SiSoToiDa, HocPhi, MaCM
end;
GO

CREATE or alter   PROCEDURE [dbo].[sp_DangKyTapThu]
    @TenKH NVARCHAR(100),
    @SDT NVARCHAR(15),
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    -- --- Kiểm tra trùng lặp SĐT và Email---
    IF EXISTS (SELECT 1 FROM KhachHang WHERE SDT = @SDT)
    BEGIN RAISERROR(N'Số điện thoại này đã tồn tại trong hệ thống.', 16, 1); RETURN; END

    IF EXISTS (SELECT 1 FROM KhachHang WHERE Email = @Email)
    BEGIN RAISERROR(N'Email này đã tồn tại trong hệ thống.', 16, 1); RETURN; END

    BEGIN TRY
        INSERT INTO KhachHang (
            TenKH,
            SDT,
            Email,
            MaLoaiKH,        
            GioiTinh,        
            NgaySinh,       
            TenDangNhap,     
            MatKhau           
        )
        VALUES (
            @TenKH,
            @SDT,
            @Email,
            NULL,         
            NULL,
            NULL,
            NULL,
            NULL
        );
        SELECT SCOPE_IDENTITY() AS MaKH_Moi; 

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO

-------Phân quyền--------
USE master;
Go 

EXEC sp_addlogin 'GymManagerLogin', 'GymManagerLogin!';
EXEC sp_addlogin 'GymCustomerLogin', 'GymCustomerLogin!';
CREATE LOGIN ThanhLong0910 WITH PASSWORD = '123456';
EXEC sp_addlogin 'hoangthanh', 'ps0899';
GO

USE [QL_PHONGGYM];
GO

EXEC sp_adduser 'hoangthanh', 'user_thanh';
EXEC sp_addrole 'QL_Lop';
EXEC sp_addrolemember 'QL_Lop', 'user_thanh';

CREATE USER [ThanhLong0910] FOR LOGIN [ThanhLong0910];
EXEC sp_adduser 'GymManagerLogin', 'GymManagerUser';
EXEC sp_adduser 'GymCustomerLogin', 'GymCustomerUser';

CREATE ROLE ManagerRole;
GO
CREATE ROLE CustomerRole;
GO
ALTER ROLE ManagerRole ADD MEMBER GymManagerUser;
GO
ALTER ROLE CustomerRole ADD MEMBER GymCustomerUser;
GO

GRANT EXECUTE ON dbo.sp_KhachHangLogin TO CustomerRole;
GRANT EXECUTE ON dbo.sp_DangKyLop_KiemTra TO CustomerRole;
GRANT EXECUTE ON dbo.sp_KhachHangDangKy TO CustomerRole;
GRANT EXECUTE ON dbo.sp_ThemVaoGioHang TO CustomerRole;
GRANT EXECUTE ON dbo.sp_DangKyTapThu TO CustomerRole;
GRANT SELECT ON dbo.GoiTap TO CustomerRole;
GRANT SELECT ON dbo.LopHoc TO CustomerRole;
GRANT SELECT ON dbo.ChuyenMon TO CustomerRole;
GRANT SELECT ON dbo.SanPham TO CustomerRole;
GRANT SELECT ON dbo.LoaiSanPham TO CustomerRole;
GRANT SELECT ON dbo.HINHANH TO CustomerRole;
GRANT SELECT ON dbo.LoaiKhachHang TO CustomerRole;
GRANT SELECT ON dbo.NhanVien TO CustomerRole; 
GRANT SELECT, UPDATE ON dbo.KhachHang TO CustomerRole; 
GRANT SELECT, INSERT, UPDATE ON dbo.DiaChi TO CustomerRole; 
GRANT SELECT, INSERT, UPDATE ON dbo.HoaDon TO CustomerRole;
GRANT SELECT, INSERT ON dbo.ChiTietHoaDon TO CustomerRole;
GRANT SELECT, INSERT, UPDATE ON dbo.DangKyGoiTap TO CustomerRole;
GRANT SELECT, INSERT ON dbo.DangKyLop TO CustomerRole;
GRANT SELECT, INSERT, UPDATE ON dbo.DangKyPT TO CustomerRole;
GRANT SELECT, UPDATE ON dbo.LichLop TO CustomerRole;
GRANT SELECT, UPDATE ON dbo.LichTapPT TO CustomerRole;
GRANT SELECT, UPDATE, DELETE ON dbo.ChiTietGioHang TO CustomerRole;

GRANT EXECUTE ON dbo.sp_SuaChuyenMon TO ManagerRole;
GRANT EXECUTE ON dbo.sp_SuaLopHoc TO ManagerRole;
GRANT EXECUTE ON dbo.sp_ThemChuyenMon TO ManagerRole;
GRANT EXECUTE ON dbo.sp_ThemChucVu TO ManagerRole;
GRANT EXECUTE ON dbo.sp_GanChuyenMonChoNhanVien TO ManagerRole;
GRANT EXECUTE ON dbo.sp_ThemNhanVien TO ManagerRole;
GRANT EXECUTE ON dbo.sp_XoaChucVu TO ManagerRole;
GRANT EXECUTE ON dbo.sp_XoaNhanVien TO ManagerRole;
GRANT EXECUTE ON dbo.sp_XoaChuyenMon TO ManagerRole;
GRANT EXECUTE ON dbo.sp_XoaNhanVienChuyenMon TO ManagerRole;
GRANT SELECT, INSERT, UPDATE ON dbo.NhanVien TO ManagerRole;
GRANT SELECT, INSERT, UPDATE ON dbo.ChucVu TO ManagerRole;
GRANT SELECT, INSERT, UPDATE ON dbo.ChuyenMon TO ManagerRole;
GRANT SELECT, INSERT, UPDATE ON dbo.NhanVienChuyenMon TO ManagerRole;
GRANT SELECT, INSERT, UPDATE ON dbo.GoiTap TO ManagerRole;
GRANT SELECT, INSERT, UPDATE ON dbo.LopHoc TO ManagerRole;
GRANT SELECT, INSERT, UPDATE ON dbo.LichLop TO ManagerRole;
GRANT SELECT, INSERT, UPDATE ON dbo.HoaDon TO ManagerRole; 
GRANT SELECT, INSERT, UPDATE ON dbo.ChiTietHoaDon TO ManagerRole; 
GRANT SELECT, INSERT, UPDATE ON dbo.DiaChi TO ManagerRole;

GRANT SELECT ON dbo.SanPham TO [ThanhLong0910];
GRANT SELECT ON dbo.LoaiSanPham TO [ThanhLong0910];
GRANT SELECT ON dbo.HINHANH TO [ThanhLong0910];

GRANT EXECUTE ON OBJECT::dbo.sp_ThemSanPham TO [ThanhLong0910];
GRANT EXECUTE ON OBJECT::dbo.sp_SuaSanPham TO [ThanhLong0910];
GRANT EXECUTE ON OBJECT::dbo.sp_XoaSanPham TO [ThanhLong0910];
GRANT EXECUTE ON OBJECT::dbo.sp_ThemLoaiSanPham TO [ThanhLong0910];
GRANT EXECUTE ON OBJECT::dbo.sp_SuaLoaiSanPham TO [ThanhLong0910];
GRANT EXECUTE ON OBJECT::dbo.sp_XoaLoaiSanPham TO [ThanhLong0910];
GRANT EXECUTE ON OBJECT::dbo.sp_HinhAnh_Them TO [ThanhLong0910];
GRANT EXECUTE ON OBJECT::dbo.sp_HinhAnh_Sua TO [ThanhLong0910];
GRANT EXECUTE ON OBJECT::dbo.sp_HinhAnh_Xoa TO [ThanhLong0910];
GRANT SELECT ON OBJECT::dbo.fn_TimKiemSanPham TO [ThanhLong0910];

GRANT SELECT, INSERT, UPDATE, DELETE ON LopHoc TO QL_Lop;
GRANT SELECT, INSERT, UPDATE, DELETE ON LichLop TO QL_Lop;
GRANT SELECT, INSERT, UPDATE, DELETE ON LichTapPT TO QL_Lop;
GRANT SELECT ON KhachHang TO QL_Lop;
GRANT SELECT ON NhanVien TO QL_Lop;
GRANT SELECT ON ChuyenMon TO QL_Lop;
GRANT SELECT, UPDATE ON DangKyPT TO QL_Lop;
GRANT SELECT ON LoaiKhachHang TO QL_Lop;
GRANT SELECT, INSERT ON HoaDon TO QL_Lop;
GRANT SELECT, INSERT ON ChiTietHoaDon TO QL_Lop;

GRANT EXECUTE ON dbo.sp_ThemLichLop TO QL_Lop;
GRANT EXECUTE ON dbo.sp_ThemLichTapPT TO QL_Lop;
GRANT EXECUTE ON dbo.sp_ThemLopHocVaLich TO QL_Lop;
GRANT EXECUTE ON ThongKeLopTheoNV TO QL_Lop;
GRANT EXECUTE ON XoaLichVaLop TO QL_Lop;
GO


