<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>

	<!-- ✅ Thêm phần connectionStrings để ADO.NET / DataSet có thể dùng -->
	<connectionStrings>
		<add name="GymDBConnectionString"
			 connectionString="Data Source=100.70.158.110;
                            Initial Catalog=QL_PHONGGYM;
                            Persist Security Info=True;
                            User ID=ThanhLong0910;
                            Password=123456;
                            TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
</configuration>
